<aside class="col-xs-12 col-md-4 hidden-sm-down" role="complementary">
    <section class="text-center">
        <h2><img src="{{ site.github.owner_gravatar_url }}" alt="Twitter feed"></h2>
        <div>
            <a class="twitter-timeline" href="{{ site.twitter.url }}"
               data-widget-id="655771876543897600"
               data-tweet-limit="2" data-chrome="noheader nofooter noborders"
               data-aria-polite="polite">Tweets by @{{ site.twitter.user }}</a>
        </div>
    </section>
</aside>
