<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link href="/images/darthcav.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml"
          title="{{ site.title }}">
    {% if page.math %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        jax: [ "input/TeX", "output/HTML-CSS" ], // "output/SVG"
        "HTML-CSS": {
            scale: 100,
            preferredFont: "STIX",
            showMathMenu: false
        }
    });
    </script>
    <script type="application/javascript" src="{{ site.scripts.mathjax }}"></script>
    {% endif %}
</head>
