// Resets
.reset-settings {
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    color: inherit;
}

// Base font
$base-font: 16px;
$base-font-weight: 400;

// Screen-sizes
$screen-xs: 544px;
$screen-sm: 544px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Colors. Thema: Corporate Blues
// URL: http://adobe.ly/1AcUKv7
$darkest-blue: #082136;
$darker-blue: #00294D;
$blue: #004B8D;
$lighter-blue: #0068C4;
$lightest-blue: #2998FF;

// Fixed top nav
$top-nav-height: 60px;
$top-nav-background: #151515;
