@media (max-width: ($screen-sm - 1)) {
    .navbar-nav .nav-item {
        float: right;
    }
    .nav-item {
        width: 100%;
        margin: 0;
        text-align: right;
    }
}

nav {
    background-color: $top-nav-background;
    @media (min-width: $screen-sm) {
        max-height: $top-nav-height;
    }
    button {
        color: #fff;
        background: transparent;
    }
}
