<!DOCTYPE html>

<html lang="en">
    {% include head.html %}
    <body>
        {% include nav.html %}
        <div class="container">
            <div class="row">
                <main class="col-xs-12 col-md-9" role="main">
                    {{ content }}
                </main>
                <aside class="col-xs-12 col-md-3" role="complementary">
                    {% include tags.html %}
                </aside>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
