<!DOCTYPE html>

<html lang="en">
    {% include head.html %}
    <body>
        {% include nav.html %}
        <div class="container">
            <div class="row">
                <main class="col-xs-12 col-md-8" role="main">
                    {{ content }}
                </main>
                <aside class="col-xs-12 col-md-4 hidden-sm-down" role="complementary">
                    {% include aside.html %}
                </aside>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
        <div class="container">
            <main id="main" role="main">
                <section>
                    <article>
                        <header role="banner">
                            <h1><%= header %></h1>
                        </header>
