@media all {
    .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: ($screen-sm - 1)) {
    .nav-item {
        width: 100%;
        text-align: center;
    }
}
